/* Stylesheet for Hakuni software. */

body {
  background: url("/assets/img/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.brand-img {
  margin-top: 30px;
  margin-left: 30px;
  height: 120px;
  width: auto;
}

.card-header {
  background: #4f4f4f;
}

.btn-login {
  color: #fff;
  background: #7289DA;
  width: 90%;
  left: 50%;
  position: fixed;
  bottom: 5px;
  transform: translate(-50%, -50%);
}

.bg-panel {
  background-color: #575757;
}

.center {
  min-height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50vh;
}
