/* Stylesheet for Hakuni software. */

body {
  background-image: url("/assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-clip: inherit;
}

.brand-img {
  margin-top: 30px;
  margin-left: 30px;
  height: 120px;
  width: auto;
}

.btn-login {
  color: #fff;
  background: #7289DA;
  width: 80%;
  left: 50%;
  position: fixed;
  bottom: 5px;
  transform: translate(-50%, -50%);
}

.bg-panel {
  background-color: #575757;
}

.center {
  min-height: 400px;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
}
