/* Stylesheet by Hakuni Team */

html {
    background-color: var(--grey-light;
}

.container {
    height: 100%;
    width: 100%;
    margin-left: 8rem;
    margin-right: 8rem;
    border: 0.25rem;
    border-color: var(--white);
    background-color: white;
}