/* Stylesheet By Hakuni Team */
:root {
    --grey-dark: #ff2121;
    --grey-light: #262626;
    --yellow: #e6c200;
    --white: #fff;
    --black: #000;
}

body {
	margin: 0;
}

hr {
	margin: 0;
	height: 1px;
	background-color: var(--yellow);
	opacity: .3;
	border: 0;
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-style: italic;
	text-transform: uppercase;
	font-size: 3.625rem;
}

h1 .alt-head {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-style: italic;
	text-transform: uppercase;
	font-size: 3.625rem;
	-webkit-text-stroke-width: .09rem;
	-webkit-text-stroke-color: var(--yellow);
	-webkit-text-fill-color: var(--black);
}

h2 {
	font-family: 'Poppins', sans-serif;
	font-style: bold;
	text-transform: uppercase;
	font-size: 1.8125rem;
}

h3 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 1rem;
}

p {
	font-family: 'Poppins', sans-serif;
	font-size: 1rem;
	font-weight: 300;
}

span {
	font-family: 'Poppins', sans-serif;
	font-size: 1rem;
	font-weight: 400;
}
a {
	font-family: 'Poppins', sans-serif;
	font-size: 1rem;
	font-weight: 400;
}


/* Navbar Style */

nav {
	margin: 0;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--grey-dark);
}
  
nav li {
	float: left;
}
  
nav li:last-child {
	border-right: none;
}
  
nav li a {
	display: block;
	color: var(--white);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
  
nav li a:hover:not(.active) {
	background-color: var(--grey-light);
}
  
nav .active {
	background-color: var(--grey-light);
}
